/*-- CSS for Prototype --*/

body{
	background-image: url("../images/sf_bg.jpg");
	background-repeat: repeat-y;
	background-color: #003333;
	margin: 0 auto;
}

#wrapper {
	clear: both;
	width: 960px;
	max-width: 100%; /* 960px/960px*/
	background-color: #b6a88d;
	margin: 0 auto;
	padding: 4.166667%; /*40px/960px*/
}

/*-----------------HEADER-----------------*/

header {
	margin: 0 auto;
	height: 230px; 
	width: 960px;
	padding: 1.04667% 4.166667% 0; /*10px/960px 40px/960px 0*/
	overflow: hidden;
	background-image: linear-gradient(right top, #003232 20%, #B6A88D 62%);
background-image: -o-linear-gradient(right top, #003232 20%, #B6A88D 62%);
background-image: -moz-linear-gradient(right top, #003232 20%, #B6A88D 62%);
background-image: -webkit-linear-gradient(right top, #003232 20%, #B6A88D 62%);
background-image: -ms-linear-gradient(right top, #003232 20%, #B6A88D 62%);

background-image: -webkit-gradient(
	linear,
	right top,
	left bottom,
	color-stop(0.20, #003232),
	color-stop(0.62, #B6A88D)
);
}

#sitebranding {
	float: left;
}

#sitebranding img {
	max-width: 100%;
}

#newsletter {
	font: 1.33em Helvetica, Arial, Sans-serif; /*16pt*/
	text-align: right;
	color: #fff;
	float: right;
}

#newsletter a {
	color: #fff;
}

#social1 {
	float: right;
	margin: 0 0 0;
}

#social {
	float: right;
	margin: 22.916667% 0 0; /* 220px/960px 0px/960px */
}

.mainnav {
	clear: both;
	width: 100%;
	padding: 1.875% 0 0 39.58333%; /*20px/960px 0 0 380px/960px*/
	font: 0.90337500903384em Helvetica, Arial, Sans-serif; /*10.8pt*/
}


.mainnav li {
	display: block;
	float: left;
}

.mainnav a {
	display: block;
	text-decoration: none;
	line-height: 50px;
	border: 2px solid #8d5e04;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	cursor: pointer;
	text-align: center;
	background-color: #b67800;
	padding: 0% 22.9%;
}


.mainnav a:link {
	color: #fff;
}

a:visited {
	color: #0a3c59;
}

a:hover {
	color: #fff;
	opacity: 0.5;
}

a:active {
	color: #3a4247;
}

footer{
	clear: both;
	text-align: center;
	margin: 5.208333% 0 0; /*50px/960px*/
	padding-top: 5.208333%; /*50px/960px*/
}


/*-----------------INDEX-----------------*/
#main {
	font: 1.33em Helvetica, Arial, Sans-serif; /*16pt*/
}

#reception {
	float: left;
	width: 63.4375%; /*609px/960px*/
	box-shadow: 0 3px 3px 0 #666;
}

#reception img {
	max-width: 100%;
}

table.hours {
	width: 30.104167%; /*289px/960px*/
	float: right;
	margin: 3.645833% 3.125%; /*35px/960px 30px/960px*/
	border-collapse: collapse;
	border: 1px solid #000;
}

th {
	text-align: center;
	border: 1px solid #000;
	padding: 1.730104%; /*5px/289px*/
}

td {
	padding: 3.460208%; /*10px/289px*/
}

#welcome {
	padding: 2.083333% 0; /*20px/960px*/
	clear: both;
}

#cta p {
	display: inline-block;
	float: left;
	width: 18.229167%; /*175px/960px*/
	text-align: center;
	word-wrap: break-word;
	padding: 0.8%;
}

#cta img {
	box-shadow: 0 3px 3px 0 #666;
	max-width: 100%;
}


/*-----------------ABOUT US-----------------*/

#lead {
	width: 100%; 
	margin: 2.08333%; /*20px/960px*/
}

#lead img {
	max-width: 100%;
}

#tech1 {
	width: 30.208333%; /*290px/960px*/
	float: left;
	margin: 16.666667% 1.5625%; /*160px/960px 15px/960px*/
}

#vet {
	width: 30.208333%; /*290px/960px*/
	float: left;
	margin: 2.08333% 1.5625%; /*20px/960px 15px/960px*/
}

#tech2 {
	width: 30.208333%; /*290px/960px*/
	float: left;
	margin: 16.666667% 1.5625%; /*160px/960px 15px/960px*/
}

#team {
	width: 100%;
	text-align: left;
	clear: left;
}

#team1 img {
	max-width: 100%;
}

.team1 li {
	padding: 2.083333%; /*20px/960px*/
	display: inline-block;
}

/*-----------------RESOURCES-----------------*/

.dr_dog {
	width: 34.6875%; /*333px/960px*/
	margin: 6% 6%;
	float: right;
}

.dr_dog img {
	width: 100%;
}

#general {
	width: 41.666667%; /*400px/960px*/
	float left;
	margin: 0 0 4.166667%; /*40px/960px*/
}

#missing {
	width: 41.666667%; /*400px/960px*/
	float: left;
	margin: 0 0 4.166667%; /*40px/960px*/
}

#dogs {
	width: 41.666667%; /*400px/960px*/
	clear: left;
	margin: 0 0 4.166667%; /*40px/960px*/
}

#cats {
	width: 41.666667%; /*400px/960px*/
	float: left;
	margin: 0 0 4.166667%; /*40px/960px*/
}

/*-----------------REVIEWS-----------------*/

#quotes {
	margin: 0 0 5.208333%; /*50px/960px*/
}
.name {
	margin: 0 10.416667% 5.208333%; /*100px/960px 50px/960px*/
	font-weight: bold;
}

/*-----------------FORMS-----------------*/

.registration_form {
	width: 43.75%; /*420px/960px*/
	float: left;
	padding: 1.041667%; /*10px/960px*/
}

.registration {
	border: 1px solid #b67800;
}

.patient {
	margin: 2.916667% 1.041667% 1.041667% 1.041667%; /*28px 10px 10px 10px / 960px */
	border: 1px solid #b67800;
}

.pet_info {
	margin: 2.916667% 1.041667% 1.041667% 1.041667%; /*28px 10px 10px 10px / 960px */
	border: 1px solid #b67800;
	clear: both;
}

.form {
	padding: 2.916667%; /*28px/960px*/
}

.formfield {
	width: 47.619048%; /*200px/420px*/
	float: right;
}

.dropdown {
	width: 47.619048%; /*200px/420px*/
	float: right;
}

.button {
	-moz-box-shadow:inset 0px 0px 0px 0px #000000;
	-webkit-box-shadow:inset 0px 0px 0px 0px #000000;
	box-shadow:inset 0px 0px 0px 0px #000000;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fae4bd), color-stop(1, #eac380) );
	background:-moz-linear-gradient( center top, #fae4bd 5%, #eac380 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae4bd', endColorstr='#eac380');
	background-color:#fae4bd;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	color:#734c02;
	font-family:arial;
	font-size: 1.2em;
	font-weight:bold;
	padding: 2.142857% 4.047619%; /*9px/420px 17px/420px*/
	text-decoration: none;
	text-shadow:3px 3px 0px #cc9f52;
	margin-top: 3.571429%; /*15px/420px*/
}

.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eac380), color-stop(1, #fae4bd) );
	background:-moz-linear-gradient( center top, #eac380 5%, #fae4bd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eac380', endColorstr='#fae4bd');
	background-color:#eac380;
}

.button:active {
	position:relative;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

.sign_up_form {
	width: 43.75%; /*420px/960px*/
	float: left;
	padding: 1.041667% 5.208333%; /*10px/960px 50px/960px*/
}

.sign_up {
	border: 1px solid #b67800;
}

.sign_up1 {
	float: left;
	margin: 2.916667% 1.041667% 1.041667% 1.041667%; /*28px 10px 10px 10px / 960px */
	border: 1px solid #b67800;
}

#dog {
	width: 39.0625%; /*375px/960px*/
	float: left;
	padding: 3.645833% 7.291667%; /*35px/960 70px/960px*/
}

#dog img {
	max-width: 100%;
}



/*-----------------MEDIA QUERIES-----------------*/

/*--Tablet Portrait Size to Standard 960 (devices and browsers)--*/

@media screen and (min-width: 768px) and (max-width: 959px) {
	
/*----------Media Query 1---ALL PAGES-------*/
	body {
		width: 100%;
	}

	#wrapper {
		width: 100%;
	}

	header {
	margin: 0 auto;
	height: 205px; 
	width: 100%;
	padding: 1.04667% 4.166667% 0; /*10px/960px 40px/960px 0*/
	overflow: hidden;
	background-image: linear-gradient(right top, #003232 20%, #B6A88D 62%);
background-image: -o-linear-gradient(right top, #003232 20%, #B6A88D 62%);
background-image: -moz-linear-gradient(right top, #003232 20%, #B6A88D 62%);
background-image: -webkit-linear-gradient(right top, #003232 20%, #B6A88D 62%);
background-image: -ms-linear-gradient(right top, #003232 20%, #B6A88D 62%);

background-image: -webkit-gradient(
	linear,
	right top,
	left bottom,
	color-stop(0.20, #003232),
	color-stop(0.62, #B6A88D)
);
}
	
#sitebranding {
	width: 60%;
	float: left;
}

#newsletter {
	font: 1em Helvetica, Arial, Sans-serif;
	text-align: right;
	color: #fff	;
	float: right;
}

#newsletter a {
	color: #fff;
}

#social1 {
	float: right;
	margin: 0 0 0;
}

#social {
	float: right;
	margin: 28.645833% 0 0; /* 220px/768px 0px/768px */
}

.mainnav {
	clear: both;
	width: 70%;
	padding: 1.875% 0 0 39.0625%; /*20px/768px 0 0 300px/768px*/
	font: 0.90337500903384em Helvetica, Arial, Sans-serif; /*10.8pt*/
}

.mainnav li {
	display: block;
	float: left;
}

.mainnav a {
	display: block;
	text-decoration: none;
	line-height: 30px;
	border: 2px solid #8d5e04;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	cursor: pointer;
	text-align: center;
	background-color: #b67800;
	padding: 0% 16%;
}

/*----------Media Query 1---INDEX-------*/

table.hours {
	width: 32.552083%; /*250px/768px*/
	float: right;
	margin: 0.2%;
	border-collapse: collapse;
	border: 1px solid #000;
	font-size: .8em;
}

th {
	text-align: center;
	border: 1px solid #000;
	padding: 1.730104%; /*5px/289px*/
}

td {
	padding: 4.152249%; /*12px/289px*/
}


#cta p {
	display: block;
	float: left;
	width: 18.229167%; /*140px/768px*/
	text-align: center;
	word-wrap: break-word;
	padding: 5px;
}

/*----------Media Query 1---ABOUT_US-------*/

#team {
	width: 100%;
	text-align: left;
	clear: left;
}

#team1 img {
	max-width: 100%;
}

.team1 li {
	padding: 0.651042%; /*5px/768px*/
	display: block;
	float: left;
}

}

/*--Mobile Landscape Size to Tablet Portrait (devices and browsers)--*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
/*----------Media Query 2---ALL PAGES-------*/
	body {
		width: 100%;
	}

	#wrapper {
		width: 100%;
	}

	header {
	margin: 0 auto;
	height: 280px; 
	width: 100%;
	overflow: hidden;
	background-image: linear-gradient(right top, #003232 20%, #B6A88D 62%);
background-image: -o-linear-gradient(right top, #003232 20%, #B6A88D 62%);
background-image: -moz-linear-gradient(right top, #003232 20%, #B6A88D 62%);
background-image: -webkit-linear-gradient(right top, #003232 20%, #B6A88D 62%);
background-image: -ms-linear-gradient(right top, #003232 20%, #B6A88D 62%);

background-image: -webkit-gradient(
	linear,
	right top,
	left bottom,
	color-stop(0.20, #003232),
	color-stop(0.62, #B6A88D)
);
}
	
#sitebranding {
	width: 60%;
}

#newsletter {
	font: .7em Helvetica, Arial, Sans-serif;
	text-align: right;
	color: #fff	;
	clear: both;
}

#newsletter a {
	color: #fff;
}

#social1 {
	display: none;
}

#social {
	display: none;
}

.mainnav {
	clear: both;
	width: 100%;
	padding: 4.166667% 0 0 8.75%; /*20px/480px 0 0 42px/480px*/
	font: 0.84em Helvetica, Arial, Sans-serif; 
}

.mainnav a {
	display: block;
	text-decoration: none;
	line-height: 30px;
	border: 2px solid #8d5e04;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	cursor: pointer;
	text-align: center;
	background-color: #b67800;
	padding: 0% 16%;
}

/*----------Media Query 2---INDEX-------*/

#reception {
	display: none;
}

table.hours {
	width: 480px; /*480px/480px*/
	margin: 0.2%;
	border-collapse: collapse;
	border: 1px solid #000;
	font-size: .8em;
}

th {
	text-align: center;
	border: 1px solid #000;
	padding: 1.041667%; /*5px/480px*/
}

td {
	padding: 1.041667%; /*5px/480px*/
}


#cta p {
	clear: both;
	width: 29.166667%; /*140px/480px*/
	text-align: center;
	word-wrap: break-word;
	padding: 5px;
}

/*----------Media Query 2---ABOUT_US-------*/

#team {
	width: 100%;
	text-align: left;
	clear: left;
}

#team1 img {
	max-width: 100%;
}

.team1 li {
	padding: 0.651042%; /*5px/768px*/
	display: block;
	float: left;
}

/*----------Media Query 2---RESOURCES-------*/

.dr_dog {
	display: none;
}
#general {
	width: 100%; 
}

#missing {
	width: 100%
}

#dogs {
	width: 100%
}

#cats {
	width: 100%
}

/*----------Media Query 2---FORMS-------*/

.registration_form {
	width: 100%;
}

.sign_up_form {
	width: 100%; /*420px/960px*/
	float: left;
	padding: 1.041667%; /*10px/960px 50px/960px*/
}

#dog {
	display: none;
}

}

/*--Mobile Portrait Size to Mobile Landscape Size (devices and browsers)--*/

@media only screen and (max-width: 479px) {
/*----------Media Query 3---ALL PAGES-------*/
	
	body {
		width: 100%;
	}

	#wrapper {
		width: 100%;
	}

	header {
	margin: 0 auto;
	height: 465px; 
	width: 100%;
	overflow: hidden;
	background-image: linear-gradient(right top, #003232 20%, #B6A88D 62%);
background-image: -o-linear-gradient(right top, #003232 20%, #B6A88D 62%);
background-image: -moz-linear-gradient(right top, #003232 20%, #B6A88D 62%);
background-image: -webkit-linear-gradient(right top, #003232 20%, #B6A88D 62%);
background-image: -ms-linear-gradient(right top, #003232 20%, #B6A88D 62%);

background-image: -webkit-gradient(
	linear,
	right top,
	left bottom,
	color-stop(0.20, #003232),
	color-stop(0.62, #B6A88D)
);
}
	
#sitebranding {
	width: 100%;
}

#newsletter {
	width: 100%;
	font: 1em Helvetica, Arial, Sans-serif;
	text-align: center;
}

#social1 {
	display: none;
}

#social {
	display: none;
}

.mainnav {
	width: 37.5%; /*150px/400px*/
	height: 225px;
	padding: 0 5%; /*20px/400px*/
}

.mainnav a {
	display: block;
	width: 25%; /*100px/400px*/
	text-decoration: none;
	line-height: 30px;
	border: 2px solid #8d5e04;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	cursor: pointer;
	text-align: center;
	background-color: #b67800;
	padding: 0% 100%;
} 


/*----------Media Query 3---INDEX-------*/

#reception {
	display: none;
}

table.hours {
	width: 100%; /*400px/400px*/
	margin: 0.2%;
	border-collapse: collapse;
	border: 1px solid #000;
	font-size: .8em;
}

th {
	text-align: center;
	border: 1px solid #000;
	padding: 1.041667%; /*5px/480px*/
}

td {
	padding: 1.041667%; /*5px/480px*/
}


#cta p {
	clear: both;
	width: 29.166667%; /*140px/480px*/
	text-align: center;
	word-wrap: break-word;
	padding: 5px;
}

/*----------Media Query 3---ABOUT_US-------*/

#team {
	width: 100%;
	text-align: left;
	clear: left;
}

#team1 img {
	max-width: 100%;
}

.team1 li {
	padding: 0.651042%; /*5px/768px*/
	display: block;
	float: left;
}

/*----------Media Query 3---RESOURCES-------*/

.dr_dog {
	display: none;
}
#general {
	width: 100%; 
}

#missing {
	width: 100%
}

#dogs {
	width: 100%
}

#cats {
	width: 100%
}

/*----------Media Query 3---FORMS-------*/

.registration_form {
	width: 100%;
}

.sign_up_form {
	width: 100%; /*420px/960px*/
	float: left;
	padding: 1.041667%; /*10px/960px 50px/960px*/
}

#dog {
	display: none;
}

}