/*-- CSS for Prototype --*/

body{
	background-image: url("../images/sf_bg.jpg");
	background-repeat: repeat-y;
	background-color: #003333;
	/*max-width: 960px;*/
	margin: 0 auto;
}

#wrapper {
	clear: both;
	max-width: 960px; /* 960px/960px*/
	background-color: #b6a88d;
	/*border: 2px solid #b6a88d;*/
	margin: 0 auto;
	padding: 40px;
	/*-webkit-box-shadow: 5px 5px 5px #b6a88d;
	-moz-box-shadow: 5px 5px 5px #b6a88d; */
}

/*-----------------HEADER-----------------*/

header {
	margin: 0 auto;
	height: 230px;
	width: 960px;
	padding: 10px 40px 0;
	overflow: hidden;
	background-image: linear-gradient(right top, #003232 20%, #B6A88D 62%);
background-image: -o-linear-gradient(right top, #003232 20%, #B6A88D 62%);
background-image: -moz-linear-gradient(right top, #003232 20%, #B6A88D 62%);
background-image: -webkit-linear-gradient(right top, #003232 20%, #B6A88D 62%);
background-image: -ms-linear-gradient(right top, #003232 20%, #B6A88D 62%);

background-image: -webkit-gradient(
	linear,
	right top,
	left bottom,
	color-stop(0.20, #003232),
	color-stop(0.62, #B6A88D)
);
}

#sitebranding {
	color: #e3e3e3;
	float: left;
}

#newsletter {
	font: 1.33em Helvetica, Arial, Sans-serif; /*16pt*/
	text-align: right;
	color: #fff	;
	float: right;
}

#newsletter a {
	color: #fff;
}

#social1 {
	float: right;
	margin: 0 0 0; 160px/960px
}

#social {
	float: right;
	margin: 22.916667% 0 0; /* 220px/960px 0px/960px */
}

.mainnav {
	clear: both;
	width: 960px; 
	margin: 15px 0;
	padding: 15px 0 0px 380px;
	font: 0.90337500903384em Helvetica, Arial, Sans-serif; /*10.8pt*/
}


.mainnav li {
	display: inline-block;
}

.mainnav a {
	display: inline-block;
	text-decoration: none;
	float: right;
	line-height: 50px;
	border: 2px solid #8d5e04;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	cursor: pointer;
	text-align: center;
	background-color: #b67800;
	padding: 0% 22px; /*15px/600px*/
}


.mainnav a:link {
	color: #fff;
}

a:visited {
	color: #0a3c59;
}

a:hover {
	color: #fff;
	opacity: 0.5;
}

a:active {
	color: #3a4247;
}


/*-----------------INDEX-----------------*/
#main {
	font: 1.33em Helvetica, Arial, Sans-serif; /*16pt*/
}

#reception {
	float: left;
	width: 63.4375%; /*609px/960px*/
	box-shadow: 0 3px 3px 0 #666;
}

#reception img {
	max-width: 100%;
}

table.hours {
	float: right;
	margin: 35px 30px; /*35px/960px 30px/960px*/
	border-collapse: collapse;
	border: 1px solid #000;
}

th {
	text-align: center;
	border: 1px solid #000;
	padding: 5px;
}

td {
	padding: 10px;
}

#welcome {
	padding: 20px 0;
	clear: both;
}

#cta p {
	display: inline-block;
	float: left;
	width: 175px;
	text-align: center;
	word-wrap: break-word;
	padding: 8px;
}

#cta img {
	box-shadow: 0 3px 3px 0 #666;
}


footer{
	clear: both;
	text-align: center;
	margin: 50px 0 0;
	padding-top: 50px;
}


/*-----------------ABOUT US-----------------*/

#lead {
	width: 100%; 
	margin: 2.08333%; /*20px/960px*/
}

#lead img {
	max-width: 100%;
}

#tech1 {
	width: 30.208333%; /*290px/960px*/
	float: left;
	margin: 16.666667% 1.5625%; /*160px/960px 15px/960px*/
}

#vet {
	width: 30.208333%; /*290px/960px*/
	float: left;
	margin: 2.08333% 1.5625%; /*20px/960px 15px/960px*/
}

#tech2 {
	width: 30.208333%; /*290px/960px*/
	float: left;
	margin: 16.666667% 1.5625%; /*160px/960px 15px/960px*/
}
#team {
	width: 100%;
	text-align: left;
	margin: 20px;
	clear: left;
}

#team img {
	max-width: 100%;
}

.team1 li {
	padding: 2.083333%; /*20px/960px*/
	display: inline-block;
}

/*-----------------RESOURCES-----------------*/

.dr_dog {
	width: 34.6875%; /*333px/960px*/
	margin: 30px 50px;
	float: right;
}

.dr_dog img {
	width: 100%;
}

#general {
	width: 400px;
	float left;
	margin: 0 0 40px;
}

#missing {
	width: 400px;
	float: left;
	margin: 0 0 40px;
}

#dogs {
	width: 400px;
	clear: left;
	margin: 0 0 40px;
}

#cats {
	width: 400px;
	float: left;
	margin: 0 0 400px0px;
}

/*-----------------REVIEWS-----------------*/

#quotes {
	margin: 0 0 50px;
}
.name {
	margin: 0 100px 50px;
	font-weight: bold;
}

/*-----------------FORMS-----------------*/

.registration_form {
	width: 420px;
	float: left;
	padding: 10px;
}

.registration {
	border: 1px solid #b67800;
}

.patient {
	width: 400px;
	margin: 10px;
	border: 1px solid #b67800;
}

.pet_info {
	width: 400px;
	margin: 28px 10px 10px 10px;
	border: 1px solid #b67800;
	clear: both;
}

#form {
	padding: 10px;
}

.formfield {
	width: 200px;
	float: right;
}

.dropdown {
	width: 200px;
	float: right;
}

#button {
	-moz-box-shadow:inset 0px 0px 0px 0px #000000;
	-webkit-box-shadow:inset 0px 0px 0px 0px #000000;
	box-shadow:inset 0px 0px 0px 0px #000000;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fae4bd), color-stop(1, #eac380) );
	background:-moz-linear-gradient( center top, #fae4bd 5%, #eac380 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae4bd', endColorstr='#eac380');
	background-color:#fae4bd;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	color:#734c02;
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	padding:9px 17px;
	text-decoration: none;
	text-shadow:3px 3px 0px #cc9f52;
	margin-top: 20px;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eac380), color-stop(1, #fae4bd) );
	background:-moz-linear-gradient( center top, #eac380 5%, #fae4bd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eac380', endColorstr='#fae4bd');
	background-color:#eac380;
}.button:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

.sign_up_form {
	width: 420px;
	float: left;
	padding: 10px;
	margin: 0 0 0 40px;
}

.sign_up {
	border: 1px solid #b67800;
}

.sign_up1 {
	width: 400px;
	float: left;
	margin: 10px;
	border: 1px solid #b67800;
}

#dog {
	width: 39.0625%; /*375px/960px*/
	float: left;
	padding: 35px 70px;
}

#dog img {
	max-width: 100%;
}



/*-----------------MEDIA QUERIES-----------------*/

/*--Tablet Portrait Size to Standard 960 (devices and browsers)--*/

@media screen and (min-width: 768px) and (max-width: 959px) {
	#wrapper {
		border: none;
		background-color: #999;
	}

	#sitebranding {
		width: 100%; /* 960px/960px */
	}
}

/*--Mobile Landscape Size to Tablet Portrait (devices and browsers)--*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
	#wrapper {
		border: none;
		background-color: #fff;
	}
}

/*--Mobile Portrait Size to Mobile Landscape Size (devices and browsers)--*/

@media only screen and (max-width: 479px) {
	#reception img {
		display: none;
		background-color: #666;
	}
}